# 1.1.1 다운받은 csv파일 이동

In [13]:
!move C:\Users\topgu\Downloads\주택도시보증공사_전국평균분양가격(2019년12월).csv

        1개 파일을 이동했습니다.

In [15]:
# 다운로드폴더에 있는 csv파일을 이 파일의 하단 폴더인 data폴더로 이동
!move C:\Users\topgu\Downloads\전국평균분양가격(2013년9월부터2015년8월까지).csv data

        1개 파일을 이동했습니다.

In [22]:
# data 폴더의 파일 목록 보기
%ls data

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 88EF-1D14

 C:\Users\topgu\2.workplace\PublicData_Analysis\Apartment\data 디렉터리

2021-02-13  오후 10:55    <DIR>          .
2021-02-13  오후 10:55    <DIR>          ..
2021-02-13  오후 10:45             2,163 전국평균분양가격(2013년9월부터2015년8월까지).csv
2021-02-13  오후 10:45           162,510 주택도시보증공사_전국평균분양가격(2019년12월).csv
               2개 파일             164,673 바이트
               2개 디렉터리  229,050,179,584 바이트 남음

# 1.1.2 파일 불러오기
### 파일명 : 주택도시보증공사_전국평균분양가격(2019년12월).csv
### 파일명 : 전국평균분양가격(2013년9월부터2015년8월까지).csv

In [1]:
import pandas as pd

In [16]:
# csv 파일 불러오기
# encoding ="euc-kr"도 가능하나 한글완성형코드로 2350자만 한글 표현 가능
# 이를 보완한 encoding = "utf-8"도 좋음
df_last = pd.read_csv("data/주택도시보증공사_전국평균분양가격(2019년12월).csv", encoding="cp949") 
df_last.shape

(4335, 5)

In [20]:
df_first = pd.read_csv("data/전국평균분양가격(2013년9월부터2015년8월까지).csv", encoding="cp949")
df_first.shape

(17, 22)

# 2.1 파일 미리보기
## 목표 : 결측치(NaN) 확인

In [12]:
# 도움말 보는 방법 2가지
# 1. 괄호안에서 shift + tab 누르기
# 2. 괄호대신 "?" 넣기 : df_last.head?
df_last.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [17]:
# 결측치 : NaN
df_last.tail()

     지역명               규모구분    연도   월 분양가격(㎡)
4330  제주                 전체  2019  12    3882
4331  제주         전용면적 60㎡이하  2019  12     NaN
4332  제주   전용면적 60㎡초과 85㎡이하  2019  12    3898
4333  제주  전용면적 85㎡초과 102㎡이하  2019  12     NaN
4334  제주        전용면적 102㎡초과  2019  12    3601

## 2.2 데이터 요약하기
### 목표 : 결측치의 갯수 확인

In [25]:
# 엔트리(인덱스) 번호보기
# Count를 보면 분양가격만 4058개로 나타난다. 즉, 분양가격에는 약300개의 결측치가 있다는 의미
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
dtypes: int64(2), object(3)
memory usage: 169.5+ KB

## 2.3 결측치 보기

In [26]:
df_last.isnull()

        지역명   규모구분     연도      월  분양가격(㎡)
0     False  False  False  False    False
1     False  False  False  False    False
2     False  False  False  False    False
3     False  False  False  False    False
4     False  False  False  False    False
...     ...    ...    ...    ...      ...
4330  False  False  False  False    False
4331  False  False  False  False     True
4332  False  False  False  False    False
4333  False  False  False  False     True
4334  False  False  False  False    False

[4335 rows x 5 columns]

## 2.4 True, False로 결측치 총 갯수 구하기
### isnull()로 결측치 구하기

In [27]:
True == 1 # 존재하는 파일
False == 0 # 결측치

True

In [28]:
df_last.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    277
dtype: int64

### isna()로 결측치 구하기

In [30]:
df_last.isna().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    277
dtype: int64

# 3.1 데이터 타입 변경

In [32]:
# 괄호에서 shift + tab을 눌러서 도움받을 것
pd.to_numeric(df_last["분양가격(㎡)"], erros='coerce')

TypeError: to_numeric() got an unexpected keyword argument 'erros'