# 1. 다운받은 csv파일 이동

In [13]:
!move C:\Users\topgu\Downloads\주택도시보증공사_전국평균분양가격(2019년12월).csv

        1개 파일을 이동했습니다.

In [15]:
# 다운로드폴더에 있는 csv파일을 이 파일의 하단 폴더인 data폴더로 이동
!move C:\Users\topgu\Downloads\전국평균분양가격(2013년9월부터2015년8월까지).csv data

        1개 파일을 이동했습니다.

In [4]:
%ls data

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 88EF-1D14

 C:\Users\topgu\2.workplace\PublicData_Analysis\Apartment\data 디렉터리

2021-02-13  오후 10:46    <DIR>          .
2021-02-13  오후 10:46    <DIR>          ..
               0개 파일                   0 바이트
               2개 디렉터리  229,040,119,808 바이트 남음

# 2. 파일 불러오기
### 파일명 : 주택도시보증공사_전국평균분양가격(2019년12월).csv
### 파일명 : 전국평균분양가격(2013년9월부터2015년8월까지).csv

In [1]:
import pandas as pd

In [16]:
# csv 파일 불러오기
# encoding ="euc-kr"도 가능하나 한글완성형코드로 2350자만 한글 표현 가능
# 이를 보완한 encoding = "utf-8"도 좋음
df_last = pd.read_csv("data/주택도시보증공사_전국평균분양가격(2019년12월).csv", encoding="cp949") 
df_last.shape

(4335, 5)

In [20]:
df_first = pd.read_csv("data/전국평균분양가격(2013년9월부터2015년8월까지).csv", encoding="cp949")
df_first.shape

(17, 22)

# 3. 파일 미리보기 하기
## 목표 : 결측치(NaN) 확인

In [12]:
# 도움말 보는 방법 2가지
# 1. 괄호안에서 shift + tab 누르기
# 2. 괄호대신 "?" 넣기 : df_last.head?
df_last.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [17]:
# 결측치 : NaN
df_last.tail()

     지역명               규모구분    연도   월 분양가격(㎡)
4330  제주                 전체  2019  12    3882
4331  제주         전용면적 60㎡이하  2019  12     NaN
4332  제주   전용면적 60㎡초과 85㎡이하  2019  12    3898
4333  제주  전용면적 85㎡초과 102㎡이하  2019  12     NaN
4334  제주        전용면적 102㎡초과  2019  12    3601

In [ ]:
#

In [19]:
%ls data

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 88EF-1D14

 C:\Users\topgu\2.workplace\PublicData_Analysis\Apartment\data 디렉터리

2021-02-13  오후 10:55    <DIR>          .
2021-02-13  오후 10:55    <DIR>          ..
2021-02-13  오후 10:45             2,163 전국평균분양가격(2013년9월부터2015년8월까지).csv
2021-02-13  오후 10:45           162,510 주택도시보증공사_전국평균분양가격(2019년12월).csv
               2개 파일             164,673 바이트
               2개 디렉터리  229,054,603,264 바이트 남음