# 1.1.1 다운받은 csv파일 이동

In [32]:
!move C:\Users\topgu\Downloads\주택도시보증공사_전국평균분양가격(2019년12월).csv

지정된 파일을 찾을 수 없습니다.

In [33]:
# 다운로드폴더에 있는 csv파일을 이 파일의 하단 폴더인 data폴더로 이동
!move C:\Users\topgu\Downloads\전국평균분양가격(2013년9월부터2015년8월까지).csv data

지정된 파일을 찾을 수 없습니다.

In [34]:
# data 폴더의 파일 목록 보기
%ls data

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 88EF-1D14

 C:\Users\topgu\2.workplace\PublicData_Analysis\Apartment\data 디렉터리

2021-02-13  오후 10:55    <DIR>          .
2021-02-13  오후 10:55    <DIR>          ..
2021-02-13  오후 10:45             2,163 전국평균분양가격(2013년9월부터2015년8월까지).csv
2021-02-13  오후 10:45           162,510 주택도시보증공사_전국평균분양가격(2019년12월).csv
               2개 파일             164,673 바이트
               2개 디렉터리  228,647,628,800 바이트 남음

# 1.1.2 파일 불러오기
### 파일명 : 주택도시보증공사_전국평균분양가격(2019년12월).csv
### 파일명 : 전국평균분양가격(2013년9월부터2015년8월까지).csv

In [35]:
import pandas as pd

In [36]:
# csv 파일 불러오기
# encoding ="euc-kr"도 가능하나 한글완성형코드로 2350자만 한글 표현 가능
# 이를 보완한 encoding = "utf-8"도 좋음
df_last = pd.read_csv("data/주택도시보증공사_전국평균분양가격(2019년12월).csv", encoding="cp949") 
df_last.shape

(4335, 5)

In [37]:
df_first = pd.read_csv("data/전국평균분양가격(2013년9월부터2015년8월까지).csv", encoding="cp949")
df_first.shape

(17, 22)

# 2.1 파일 미리보기
## 목표 : 결측치(NaN) 확인

In [38]:
# 도움말 보는 방법 2가지
# 1. 괄호안에서 shift + tab 누르기
# 2. 괄호대신 "?" 넣기 : df_last.head?
df_last.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [39]:
# 결측치 : NaN
df_last.tail()

     지역명               규모구분    연도   월 분양가격(㎡)
4330  제주                 전체  2019  12    3882
4331  제주         전용면적 60㎡이하  2019  12     NaN
4332  제주   전용면적 60㎡초과 85㎡이하  2019  12    3898
4333  제주  전용면적 85㎡초과 102㎡이하  2019  12     NaN
4334  제주        전용면적 102㎡초과  2019  12    3601

## 2.2 데이터 요약하기
### 목표 : 결측치의 갯수 확인

In [40]:
# 엔트리(인덱스) 번호보기
# Count를 보면 분양가격만 4058개로 나타난다. 즉, 분양가격에는 약300개의 결측치가 있다는 의미
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
dtypes: int64(2), object(3)
memory usage: 169.5+ KB

## 2.3 결측치 보기

In [41]:
df_last.isnull()

        지역명   규모구분     연도      월  분양가격(㎡)
0     False  False  False  False    False
1     False  False  False  False    False
2     False  False  False  False    False
3     False  False  False  False    False
4     False  False  False  False    False
...     ...    ...    ...    ...      ...
4330  False  False  False  False    False
4331  False  False  False  False     True
4332  False  False  False  False    False
4333  False  False  False  False     True
4334  False  False  False  False    False

[4335 rows x 5 columns]

## 2.4 True, False로 결측치 총 갯수 구하기
### isnull()로 결측치 구하기

In [42]:
True == 1 # 존재하는 파일
False == 0 # 결측치

True

In [43]:
df_last.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    277
dtype: int64

### isna()로 결측치 구하기

In [44]:
df_last.isna().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    277
dtype: int64

# 3.1 데이터 타입 변경
### to_numeric으로 수치데이터 타입으로 변경하자
### 이유? 
### 단위 기준 통일. 최근에 나온 csv 파일은 평균분양가격이지만 지금 다루는 csv파일은 평당이므로 수치형데이터를 평균분양가격으로 수정하기 위함이다.

In [45]:
# to_numeric으로 타입 변경
# to_numeric을 사용할줄 모른다면 괄호안에서 shift + tab을 눌러서 도움받을 것
# "분양가격"이라는 새 칼럼에 담자
# 분양가격(㎡) 칼럼 타입 : object
# 분양가격 칼럼 타입: float
df_last["분양가격"] = pd.to_numeric(df_last["분양가격(㎡)"], errors='coerce')

In [46]:
# 판다스에 내장된 넘파이. 넘파이의 타입을 보자
type(pd.np.nan)

<ipython-input-46-d5ddd4d2f704>:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  type(pd.np.nan)

float

In [47]:
# 최근에 나온 csv파일처럼 평균분양가격으로 기준을 수정하자
df_last["평당분양가격"] = df_last["분양가격"] * 3.3

In [48]:
# 칼럼이 제대로 추가되었는지 확인
df_last

     지역명               규모구분    연도   월 분양가격(㎡)    분양가격   평당분양가격
0     서울                 전체  2015  10    5841  5841.0  19275.3
1     서울         전용면적 60㎡이하  2015  10    5652  5652.0  18651.6
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882  5882.0  19410.6
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721  5721.0  18879.3
4     서울        전용면적 102㎡초과  2015  10    5879  5879.0  19400.7
...   ..                ...   ...  ..     ...     ...      ...
4330  제주                 전체  2019  12    3882  3882.0  12810.6
4331  제주         전용면적 60㎡이하  2019  12     NaN     NaN      NaN
4332  제주   전용면적 60㎡초과 85㎡이하  2019  12    3898  3898.0  12863.4
4333  제주  전용면적 85㎡초과 102㎡이하  2019  12     NaN     NaN      NaN
4334  제주        전용면적 102㎡초과  2019  12    3601  3601.0  11883.3

[4335 rows x 7 columns]

# 4.1 분양가격 확인

## 4.1.1 분양가격 요약

In [49]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
 5   분양가격     3957 non-null   float64
 6   평당분양가격   3957 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 237.2+ KB

In [50]:
# 변경 전 컬럼인 분양가격(㎡)컬럼 요약
# count : 총계. "분양가격" count보다 더 많이 나온 이유? 공백문자도 취급하기 때문 (결측치도 함께 계산함)
# unique : 중복되지 않는 값
# top : 가장 빈번하게 등장하는 문자 2221
# freq : 2221문자가 17번 등장
df_last["분양가격(㎡)"].describe()

count     4058
unique    1753
top       2221
freq        17
Name: 분양가격(㎡), dtype: object

In [51]:
# 수치데이터로 변경된 분양가격 컬럼 요약
df_last["분양가격"].describe()

count     3957.000000
mean      3238.128633
std       1264.309933
min       1868.000000
25%       2441.000000
50%       2874.000000
75%       3561.000000
max      12728.000000
Name: 분양가격, dtype: float64

# 5.1 전처리

In [52]:
# "규모구분"컬럼을 볼것
df_last

     지역명               규모구분    연도   월 분양가격(㎡)    분양가격   평당분양가격
0     서울                 전체  2015  10    5841  5841.0  19275.3
1     서울         전용면적 60㎡이하  2015  10    5652  5652.0  18651.6
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882  5882.0  19410.6
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721  5721.0  18879.3
4     서울        전용면적 102㎡초과  2015  10    5879  5879.0  19400.7
...   ..                ...   ...  ..     ...     ...      ...
4330  제주                 전체  2019  12    3882  3882.0  12810.6
4331  제주         전용면적 60㎡이하  2019  12     NaN     NaN      NaN
4332  제주   전용면적 60㎡초과 85㎡이하  2019  12    3898  3898.0  12863.4
4333  제주  전용면적 85㎡초과 102㎡이하  2019  12     NaN     NaN      NaN
4334  제주        전용면적 102㎡초과  2019  12    3601  3601.0  11883.3

[4335 rows x 7 columns]

In [53]:
# "규모구분"컬럼의 유니크 값을 살펴보자
df_last["규모구분"].unique()

array(['전체', '전용면적 60㎡이하', '전용면적 60㎡초과 85㎡이하', '전용면적 85㎡초과 102㎡이하',
       '전용면적 102㎡초과'], dtype=object)

## 5.1.1 칼럼값 수정

In [54]:
df_last["규모구분"]

0                      전체
1              전용면적 60㎡이하
2        전용면적 60㎡초과 85㎡이하
3       전용면적 85㎡초과 102㎡이하
4             전용면적 102㎡초과
              ...
4330                   전체
4331           전용면적 60㎡이하
4332     전용면적 60㎡초과 85㎡이하
4333    전용면적 85㎡초과 102㎡이하
4334          전용면적 102㎡초과
Name: 규모구분, Length: 4335, dtype: object

### 중복된

In [55]:
# 데이터를 빠르게 처리하기 위해 중복되는 텍스트를 줄여주자. 여기선 중복되는 텍스트("전용면적")를 새 칼럼 제목으로 쓴다.
# replace는 텍스트와 타입이 완전히 일치해야 작동한다.
df_last["전용면적"] = df_last["규모구분"].str.replace("전용면적","")
df_last["전용면적"]

0                  전체
1               60㎡이하
2         60㎡초과 85㎡이하
3        85㎡초과 102㎡이하
4              102㎡초과
            ...
4330               전체
4331            60㎡이하
4332      60㎡초과 85㎡이하
4333     85㎡초과 102㎡이하
4334           102㎡초과
Name: 전용면적, Length: 4335, dtype: object

In [56]:
# "전용면적"칼럼의 value에서 "초과"를 "~"로 변경하자
df_last["전용면적"] = df_last["전용면적"].str.replace("초과","~")
df_last["전용면적"]

0                 전체
1              60㎡이하
2         60㎡~ 85㎡이하
3        85㎡~ 102㎡이하
4              102㎡~
            ...
4330              전체
4331           60㎡이하
4332      60㎡~ 85㎡이하
4333     85㎡~ 102㎡이하
4334           102㎡~
Name: 전용면적, Length: 4335, dtype: object

In [57]:
# "전용면적"칼럼의 value에서 "이하"를 ""로 변경하자
df_last["전용면적"] = df_last["전용면적"].str.replace("이하","")
df_last["전용면적"]

0               전체
1              60㎡
2         60㎡~ 85㎡
3        85㎡~ 102㎡
4            102㎡~
           ...
4330            전체
4331           60㎡
4332      60㎡~ 85㎡
4333     85㎡~ 102㎡
4334         102㎡~
Name: 전용면적, Length: 4335, dtype: object

In [59]:
# "전용면적"칼럼의 value에서 공백을 제거하자
df_last["전용면적"] = df_last["전용면적"].str.replace(" ","").str.strip() # 앞뒤 공백제거
df_last["전용면적"]

0             전체
1            60㎡
2        60㎡~85㎡
3       85㎡~102㎡
4          102㎡~
          ...
4330          전체
4331         60㎡
4332     60㎡~85㎡
4333    85㎡~102㎡
4334       102㎡~
Name: 전용면적, Length: 4335, dtype: object